<!DOCTYPE html>
<html>
<head>
	<title>Neterea Studios :: {{ page.title }}</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="robots" content="index,follow"/>
	<meta name="mssmarttagspreventparsing" content="true"/>
	<meta name="keywords" content="concetp art, illustration, modeling, texturing, rigging, animation, programming, games, game programming, multimedia, apps"/>
	<meta name="author" content="Neterea Studios"/>
	<meta name="description" content="Neterea Studios Homepage."/>
	<meta name="dc.title" content="Neterea Studios"/>
	<link rel="start" href="http://www.netereastudios.com" title="Neterea Studios"/>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/gif"/>
	<link rel="icon" href="/images/favicon.ico" type="image/gif"/>
	<link rel="alternate" href="/atom.xml" title="Primary Feed" type="application/rss+xml"/>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/jscript/bootstrap/css/bootstrap.min.css" media="screen"/>
	<link rel="stylesheet" href="/css/base.css" type="text/css"/>
	<link rel="stylesheet" href="/jscript/bootstrap/css/bootstrap-responsive.min.css" media="screen"/>
<head>

</head>
<body>
	<!-- HEADER -->
	<div id="header" class="container">
    	<div class="row-fluid">
        	<div class="span4">
				<div id="logo"><a href="/index.html">Neterea Studios</a></div>
            </div>
        	<div class="span8">
				<div id="menu">
					<ul>
						<li><a href="/games.html">Games</a></li>
						<li><a href="http://netereastudios.tumblr.com">Dev Log</a></li>
						<li><a href="/contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
        </div>
    </div>

	<div class="separatorUp"></div>

	<!-- CONTENT -->
	<div id="content">
		<div class="container">
			{{ content }}
		</div>
	</div>

	<div class="separatorDown"></div>

	<!-- FOOTER -->
	<div id="footer" class="container">
    	<div class="row-fluid">
        	<div class="span4">
				<h4>Company Information</h4>
				<i class="icon-globe icon-white"></i>
				<div class="info">
				Neterea Studios S.L.U.<br/>
				N.I.F: B54696307<br/>
				C/ Rafael Alberti 2<br/>
				03440 Ibi (Alicante)<br/>
				Spain
				</div>
				<i class="icon-envelope icon-white"></i>
				<div class="info"><a href="mailto:info@netereastudios.com">info@netereastudios.com</a></div>
				<i class="icon-user icon-white"></i>
				<div class="info">+34 638 109 608</div>
            </div>
        	<div class="span4">
				<h4>Explore</h4>
				<i class="icon-search icon-white"></i>
				<div class="info">
				Check our <a href="http://netereastudios.tumblr.com/">Dev Log</a><br/>
				<a href="/contact.html">Contact</a> us<br/>
				</div>
            </div>
        	<div class="span4">
				<h4>Follow Us</h4>
				<a href="https://twitter.com/NetereaStudios" target="_blank"><img class="imgSocial" src="/images/twitter.png"/></a>
				<a href="http://www.netereastudios.com/atom.xml" target="_blank"><img class="imgSocial" src="/images/rss.png"/></a>
            </div>
		</div>
	</div>

	<div id="footNote">Copyright &copy; 2013-2015 Neterea Studios S.L.U. All rights reserved. Trademarks belong to their respective owners.</div>

    <script src="/jscript/jquery/jquery-1.9.1.min.js"></script>
    <script src="/jscript/bootstrap/js/bootstrap.min.js"></script>
	<script>
	$('#myCarousel').carousel({
		interval: 7000
	});
	</script>
</body>
</html>
